.navbar{
    background-color: #0a5b7f;
    color: white;
    width: -webkit-fill-available;
 }
 .b{
     margin-right: 263px;
 }
 .a{
     margin-left: 660px;
     margin-bottom: 5px;
 }
 .c{
     margin-left: 194px;
 }