.UserSignupBackground1{
    border: 4px solid white;
   background-color: aqua;
   height: 107px;
}
.UserSignupDrop{
    margin-left: 539px;
    position: relative;
    bottom: 34px;
}
.UserSignuph1{
    margin-left: 503px;
    margin-top: 69px;
    margin-bottom: 81px;
    position: relative;
    top: 17px;
    color: white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.UserSignupInput1{
    padding-left: 24px;
    padding-right: 148px;
    height: 51px;
    margin-left: 374px;
    margin-top: -11px;
}
.UserSignupInput2{
    padding-left: 24px;
    padding-right: 148px;
    height: 51px;
    margin-left: 374px;
    margin-top: 34px;
}
.UserSignupInput3{
    padding-left: 24px;
    padding-right: 148px;
    height: 51px;
    margin-left: 374px;
    margin-top: 34px;
}
.UserSignupInput4{
    padding-left: 24px;
    padding-right: 148px;
    height: 51px;
    margin-left: 374px;
    margin-top: 34px;
}
.UserSignupP1{
    font-size: 14px;
    margin-left: 348px;
    margin-top: -454px;
}
.UserSignupButton1{
    padding-left: 110px;
    padding-right: 109px;
    height: 58px;
    margin-left: 364px;
    border-radius: 8px;
    background-color: rgb(24, 89, 193);
    color: white;
}
.UserSignupImg1{
    margin-right: 1054px;
    position: relative;
    top: 23px;
}
.UserSignupImg2{
    margin-left: 974px;
    width: 54px;
    position: relative;
    bottom: 24px;
}
.UserSignupBg{
    background-image: url(../../Assets/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 72px;
    width: 1522px;
    height: 512px;
}
.UserSignUpBottom{
    background-color:#1995fc;;
    background-size: cover;
    height: 100px;
    position: relative;
    bottom: 257px;
    width: 1522px;
}

.UserSignupImgL{
    height: 357px;
    position: relative;
    right: 322px;
    bottom: 277px;
}

.validationEmail{
    margin-left: 135px;
}
.validationpassword{
    margin-left: 169px;
}
.validationdateofbirth{
    margin-left: 188px;
}
.validationusername{
    margin-left: 169px;
}

