.UserFooterLink{
    margin-left: 54px;
    color: rgb(89, 173, 211);
    margin-top: 653px;
    position: relative;
    right: 38px;
}
.UserFooterImg1{
    position: relative;
    top: 623px;
    right: 44px;
}