.UserFooterLink{
    margin-left: 54px;
    color: rgb(89, 173, 211);
    /* margin-top: 19px; */
    position: relative;
    right: 38px;
    top: 25px;
}
.UserFooterImg1{
    position: relative;
    top: 48px;
    right: 44px;
}