@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.AdminViewTeamCoachMainDivBG {
    
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    text-align: center;

}

.AdminViewTeamCoach-h1 {

    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    

}

.AdminViewTeamCoach-Table {

    

}

.AdminViewTeamCoach-tablehead {

    display: flex;
    width: 1295px;
    height: 65px;
    text-align: left;

}

.AdminViewTeamCoach-tabledata {

    border: 2px solid #B9B9B9;
    padding-left: 13px;
    padding-top: 15.6px;
    background: #A9ADC582;

}

