.AdminResetPassmaindiv-1{
    margin-top: 62px;
    width: 500px;
    margin-left: 800px;
}
.AdminResetPassButton{
    margin-left: 812px;
    margin-top: 23px;
    color: white;
    background-color: black;
    width: 224px;
    height: 50px;
}
.AdminResetPassimg{
    margin-top: -500px;
    width: 419px;
    margin-left: 173px;
}
.AdminResetPassMail{
    width: 444px;
    height: 50px;
    margin-bottom: 20px;
}
.AdminResetPassword{
    width: 444px;
    height: 50px;
    margin-bottom: 20px;
}
.AdminResetConfirmPass{
    width: 444px;
    height: 50px;
    margin-bottom: 20px;
}