.container{
    margin-left: 150px;
    width: 1920px;
    height: 500px;
}

.AdminLoginh1
{
    color: black;
    margin-top: 182px;
    font-size: 50px;
}
.AdminLoginp1
{
    color: black;
    font-weight: bold;
}
.AdminLoginp2{
    color: black;
    font-weight: bold;
}

.AdminLogininput1{
    height: 40px;
    width: 500px;
    margin-top: 0px;
    border-radius: 6px;
}
.AdminLogininput2{
    height: 40px;
    width: 500px;
    margin-top: 0px;
    border-radius: 6px;}
.AdminLoginButton
{
    color: white;
    background-color: black;
    width: 225px;
    height: 48px;
    border-radius: 11px;
    margin-top: 45px;
}
.adminLogindiv2{
    margin-top: 20px;
}
.adminLogindiv1{
    margin-top: 50px;
}
.AdminLoginImg4{
    position: fixed;
    top: 159px;
    right: 265px;
   
}
