.UserLoginh1{
    color: white;
    font-size: 67px;
    margin-left: 336px;
}
.UserLoginReset{
    margin-right: 19px;
    color: white;
}
.backgroundimg{
    background-color: white;
    height: 685px;
    width: 330px;
    margin-left: 107px;
    margin-top: -150px;
}
.login{
    margin-top: -545px;
}
.userloginimg{
    width: 330px;
    margin-top: 134px;
}
.UserLoginSignin{
    margin-left: 680px;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(56, 56, 56);
}
button{
    border: 0px;
    border-radius: 36px;
}
.UserLogininput1{
    padding-left: 24px;
    padding-right: 148px;
    height: 51px;
    margin-left: 374px;
    margin-top: 31px;
    border-radius: 36px;
    border: 0px;
}
.UserLogininput2{
border: 0px;
border-radius: 36px;
}