.Aboutpagemaindiv-1{
    display: flex;
width: 1440px;
padding: 60px 170px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 60px;
}
.Aboutpagediv-2{
    display: flex;
flex-direction: column;
align-items: center; 
gap: 24px;
align-self: stretch;
}
.Aboutpageimg-3{
    width: 100px;
    height: 100px;
    margin-left: 40px;
    flex-shrink: 0;
}
.Aboutpageimg-1{
    width: 100px;
    height: 100px;
    margin-left: 123px;
    flex-shrink: 0;
}
.Aboutpageimg-2{
    width: 100px;
height: 100px;
flex-shrink: 0;
margin-left: 138px;

}

.Aboutpagediv-4{
margin-top: 120px;
}
.Aboutpagetext-3{
    margin-top: 13px;
    font-size: medium;
    margin-left: 101px;   
}
.Aboutpagetext-5{
    margin-top: 13px;
    font-size: medium;
    margin-left: 101px;   
}

.Aboutpagetext-4{
    font-size: large;
    margin-top: 27px;
}
.Aboutpagemaindiv2{
    margin-bottom: 60px;
    margin-top: 60px;
}
.Aboutpagemaindiv3{
    border: solid rgb(220, 192, 192);
    border-radius: 10px;
    width: 93%;
    margin-left: 54px;    

}
.Aboutpagetextmission{
    font-size: large;
    font-weight: bold;
    margin-left: 100px;
}
.ms{
    margin-top: 20px;
}
.Aboutpagemaindiv5{
    margin-left: 82px;
}
 .Aboutpagemaindiv10{
    margin-left: 183px; }
    

.Aboutdiv1{
    margin-left: -32px;
}
.Aboutdiv2{
    margin-left: -32px;
}