.LandingPageDiv-1{
    height: 100%;
    margin-top: 0px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 265px;
    margin-top: 600px;
 }

 .LandingPageCenter-img{
     max-width: 100%;
 } 





