.LandingPageDiv-1{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 265px;
    flex-shrink: 0;
    margin-top: 170px;
 }

 .LandingPageCenter-img{
     max-width: 100%;
     max-height: 100%;
 }