.Teamcoachdetailspopupdiv-1 {
    display: grid;
    align-content: center;
    height: 300px;
    margin-left: 200px;
}

.Teamcoachdetailspopupdiv-2 {
    display: grid;
    align-content: center;
    height: 300px;
}

.Teamcoachdetailspopupdiv-10 {
    display: grid;
    align-content: center;
    height: 300px;
}
.Teamcoachdetailspopupdiv-11 {
    display: grid;
    align-content: center;
    height: 300px;
}
.Teamcoachdetailspopupdiv-10-button{
    display: grid;
width: 232px;
padding: 8px;
flex-direction: column;
align-items: end;
border-radius: 8px;
background: #DADADA;
color: black;
margin-left: 32px;

}
.Teamcoachdetailspopupdiv-11-button{
    display: grid;
    width: 232px;
    padding: 8px;
    flex-direction: column;
    align-content: normal;
    align-items: center;
    border-radius: 8px;
    background: #DADADA;
    color: black;
    margin-left: 92px;




}

.Teamcoachdetailspopuplabel{
    color: #000;
font-family: Roboto;
font-size: 15.423px;
font-style: normal;
font-weight: 800;
line-height: 21.592px; 
}
.Teamcoachdetailspopupimpdiv-style{
    margin-left: 170px;
    align-items: center;
    gap: 12.338px;
    flex: 1 0;
    align-self: stretch;}

.Teamcoachdetailspopupcommon-style-1{
    /* margin-left: 76px; */
    border-radius: 23.135px;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
width: 46.269px;
height: 46.269px;
padding: var(--items, 11.576px) var(--items, 11.269px) var(--items, 10.693px) var(--items, 11px);
justify-content: center;
align-items: center;
}



.Teamcoachdetailspopuptext-1{
color: #000;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 48px;
width: 520px;
align-self: stretch;
}

.Teamcoachdetailspopupimg-1-backend{
    width: 102px;
    height: 105px;
    margin-left: 208px;
    flex-shrink: 0;
    align-content: center;}

.Teamcoachdetailspopupimg-2-backend{

color: #000;
font-family: Roboto;
font-size: 15.423px;
font-style: normal;
font-weight: bold;
line-height: 21.592px; 
text-align: center;
}
.Teamcoachdetailspopupmainrow-1{
display: flex;
padding: 15.423px var(--items, 0px);
justify-content: center;
align-items: center;
border-bottom: 1px solid rgb(192, 186, 186);
}

.Teamcoachdetailspopupmainrow-right-1{
    margin-left: 250px;
}
/* .Teamcoachdetailspopupmainhr{
    margin: 0px;
    stroke-width: 0.771px;
stroke: rgba(0, 0, 0, 0.10);
width: 401px;
height: var(--items, 0px);
} */
 .Teamcoachdetailspopuplabel-2{
    margin-left: 47px;
 }
 .Teamcoachdetailspopup-1-5{
    height: 300px;
 }

